<div class = "col-md-offset-1 col-md-10 col-md-offset-1"> 
  <h1>Guest::Guests#show</h1>
  <p>Find me in app/views/guest/guests/show.html.erb</p>

  <h1>マイページ</h1>
  <%= link_to "プロフィール編集", edit_guest_path(current_guest), class: "btn btn-success" %>
  <%= render "layouts/error_messages", error: @new_member %>
  <%= render "guest/members/form", member: @new_member %>

  <%= render "guest/members/members", members: current_guest.members %>
</div>


