<% if flash[:error].present? %>
  <ul class="errors">
    <% flash[:error].each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

  <h1>マイページ</h1>
  <%= link_to "プロフィール編集", edit_guest_path(@guest), class: "btn btn-success" %>
  <%= render "guest/members/form", member: @new_member %>

  <%= render "guest/members/members", members: @guest.members %>
</div>


