<div class = "col-md-offset-1 col-md-10 col-md-offset-1"> 
<h1>Guest::Events#new</h1>
<p>Find me in app/views/guest/events/new.html.erb</p>

  <%= render 'guest/events/form', event: @new_event %>
</div>