<h1>Guest::Members#show</h1>
<p>Find me in app/views/guest/members/show.html.erb</p>

<%= @member.name + "が参加しているイベント一覧" %>

<%
=begin%>
 <%= render "guest/events/events", events: @events %> 
<%
=end%>

