// Place all the styles related to the guest::eventmembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eventmember_name {
  font-size: 25px;
  padding-right: 20px;
}
.not_eventmember_name {
  font-size: 25px;
  padding-right: 20px;
}