// Place all the styles related to the guest::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_title {
  font-size: 50px;
  padding-left: 20px;
}
.ms-drop ul>li label>span {
  color: red;
  font-size: 30px;
  padding-left: 10px;
}
.ms-choice {
  width: 50px;
}
.page_title {
  font-size: 30px;
}
.checkbox {
  float: left;
}