  <h1><span class = "marker" >ようこそAlmemo(アルメモ)へ！！</span></h1>

  <h3><span class = "dashed_border" >アルメモは、思い出(イベント)をカレンダーに日時、タイトル、感想、一緒に行ったメンバー、画像を投稿して保存するアプリです！</h3><br>

  <h3><span class = "marker" >使い方</span></h3><br>
  <h3><span class = "double_border" >①ログインまたは新規登録をしてマイカレンダーページに飛ぶ。</span></h3><br>
  <%= image_tag 'スクリーンショット 2020-03-11 18.37.11.png', class: 'img-responsive' %><br>
  <h3><span class = "double_border" >②イベント新規作成ページボタンを押して作成ページに飛んだら、項目を記入してイベント作成ボタンを押すだけ！</span></h3><br>
  <%= image_tag 'スクリーンショット 2020-03-11 18.38.47.png', class: 'img-responsive' %><br>
  <h3><span class = "dashed_border" >アルメモには検索機能もついていて、登録したメンバーの名前やアルメモに保存したイベントのタイトル、感想から検索もできるので、いつどんなことをしたか思い出しやすい！</span></h3><br>

  <h3><span class = "marker" >登録の際に必要な情報は、Eメールとパスワードだけ！！（名前は後から設定できます。）</span><br>
  <span class = "dashed_border" >あなたも素敵な思い出をアルメモに残してみませんか？</span></h3><br>

  <h3><span class = "marker" >新規登録、ログインの際は一番右上のSign Up(新規登録)またはLog In(ログイン)をクリック！！</span></h3>
</div>