<div class = "col-md-offset-1 col-md-10 col-md-offset-1">
  <h1>Guest::Homes#top</h1>
  <p>Find me in app/views/guest/homes/top.html.erb</p>
  <h1>ようこそAlmemo(アルメモ)へ！！</h1>

  <h3>こちらのサイトは、思い出(イベント)をカレンダーに日時、タイトル、感想、一緒に行ったメンバー、画像を投稿して保存するアプリです！</h3><br>

  <h3>使い方</h3><br>
  <h3>①ログインまたは新規登録をしてマイカレンダーページに飛ぶ。</h3><br>
  ＜マイカレンダーの画像を載せる。＞<br>
  <h3>②イベント新規作成ページボタンを押して作成ページに飛んだら、項目を記入してイベント作成ボタンを押すだけ！</h3><br>
  ＜イベント新規作成の画像を載せる。＞<br>

  <h3>アルメモには検索機能もついていて、登録したメンバーの名前やアルメモに保存したイベントのタイトル、感想から検索もできるので、いつどんなことをしたか思い出しやすい！</h3><br>

  <h3>登録の際に必要な情報は、Eメールとパスワードだけ！！
  あなたも素敵な思い出をアルメモに残してみませんか？</h3><br>

  <h3>新規登録、ログインの際は一番右上のSign Up(新規登録)またはLog In(ログイン)をクリック！！</h3>
</div>