  <h1><span class="marker">ようこそAlmemo(アルメモ)へ！！</span></h1>

  <h3><span class="dashed_border">アルメモは、思い出(イベント)をカレンダーに日時、タイトル、感想、一緒に行ったメンバー、画像を投稿して保存するアプリです！<br>
          (スマートフォンの方は横画面にして使用して頂くことを推奨しています)</span></h3><br>

  <h3><span class="marker">使い方</span></h3><br>
  <h3><span class="double_border">①ログインまたは新規登録をしてマイカレンダーページに飛ぶ。
          イベントに同行するメンバーの登録は"MyPage"から行ってください。</span></h3><br>
  <%= image_tag 'スクリーンショット 2020-03-14 23.04.04.png', class: 'img-responsive' %><br>
  <h3><span class="double_border">②イベント新規作成ページボタンを押して作成ページに飛んだら、項目を記入してイベント作成ボタンを押すだけ！</span></h3><br>
  <%= image_tag 'スクリーンショット 2020-03-14 23.04.17.png', class: 'img-responsive' %><br>
  <h3><span class="dashed_border">アルメモには検索機能もついていて、登録したメンバーの名前やアルメモに保存したイベントのタイトル、感想から検索もできるので、いつどんなことをしたか思い出しやすい！</span></h3><br>

  <h3><span class="marker">新規登録、ログインの際は一番右上のSign Up(新規登録)またはLog In(ログイン)をクリック！！<br><br>
          下にテストユーザーを貼っておくので、良かったらお試しで色々触ってみてください！</span></h3>
  <div class="box">
      <h3 class="test-guest"><span class="double_border">
              お試しテストユーザー</span><br>
          Email <span class="double_border">test@test</span><br>
          Password <span class="double_border">tttttt</span></h3>
  </div>